@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;

  color: white;
}

.coin-app {
  display: flex;
  flex-direction: column;

  color: white;
  background-color: rgb(36, 59, 68);
}

.coin-search {
  margin-bottom: 65px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-text {
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: center;
  color: rgb(188, 102, 238);
}
.coin-input {
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: white;
}

.coin-input::placeholder {
  color: white;
}

/* Intro Section */
.intro-crypto {
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
}
.defination {
  font-size: 1.2rem;
  font-weight: bolder;
  color: rgb(100, 132, 236);
  font-family: "Arima Madurai", cursive;
}

/* Navbar */
.navbar-container {
  margin-top: 0;
  background-color: rgb(255, 255, 255);
}
.navbar-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar-container ul li {
  list-style: none;
}
.navbar-container ul li input {
  margin-left: 65%;
  outline: none;
  padding: 10px;
  width: 300px;
  font-size: 1rem;
  border-radius: 8px;
  border: none;
  background-image: linear-gradient(
    -225deg,
    #ac32e4 0%,
    #7918f2 48%,
    #4801ff 100%
  );
  color: white;
}
.navbar-container ul li input::placeholder {
  color: white;
}
.navbar-container ul li img {
  height: 80px;
  width: 110px;
}
.navbar-container ul li .tagline {
  color: rgb(196, 14, 212);
  margin-left: 30px;
  font-size: 1.5rem;
}
