.coin-container {
  display: flex;
  justify-content: center;
}
.coin-row {
  display: flex;
  flex-direction: row;
  justify-items: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
}
.coin h1 {
  font-size: 16px;
  width: 150px;
}
.coin img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.coin-symbol {
  text-transform: uppercase;
}

.coin-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.coin-price {
  width: 120px;
}
.coin-volume {
  width: 230px;
}
.coin-marketcap {
  width: 155px;
}
.coin-percent {
  width: 100px;
}
.red {
  color: rgb(252, 15, 15);
}
.green {
  color: rgb(60, 243, 60);
}

.rupee {
  padding-right: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  color: rgb(211, 202, 191);
}
